@charset "UTF-8";

:root {
    --backg: #0e0e0e;
    --rootcolor: #ebebeb;
    --rootcolor-trans: #ebebeb0a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    display: inline-block
}

body {
    background-color: var(--backg);
    color: var(--rootcolor);
    padding: 15px
}

header {
    display: flex;
    width: 80%;
    margin: 40px auto;
    padding: 10px;
    background-color: var(--rootcolor-trans);
    border-radius: 40px;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(80, 35, 5);
    border-right: 1px solid var(--rootcolor-trans);
}

header h1::before {
    content: "SpotLib";
    position: absolute;
    filter: blur(15px);
    opacity: 0.3;
    
}

header a {
    text-decoration: none;
    color: var(--rootcolor);
    padding: 3px;
    margin: 0 4px;
    font-size: 0.8em;
}

.playlists {
    min-height: 500px;
    width: 78%;
    max-width: 870px;
    background-color: var(--rootcolor-trans);
    border-radius: 30px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.albumdiv {
    flex-basis: 150px;
    height: fit-content;
    border-radius: 5px;
}

.albumdiv img {
    aspect-ratio: 1/1;

}